@import 'tailwindcss';

:root{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Graduate", serif;
}
/* ::-webkit-scrollbar{
    display: none;
} */

/* App.css or global stylesheet */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


@keyframes fade-in-left {
    0% {    
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-left {
    animation: fade-in-left 0.8s ease-out forwards;
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-right {
    animation: fade-in-right 0.8s ease-out forwards;
}

.linear-back {
    animation: linear-back 4s linear forwards;

}

@keyframes linear-back {
    0% {
        width: 100%;
        opacity: 1
    }
    95% {
        opacity: 0.9;
    }
    100% {
        width: 0%;
        opacity: 0;
    }
}